* {
    box-sizing: border-box;
}

body {
    background-color: rgb(225, 225, 225);
    font-family: helvetica, sans-serif;
    padding-inline-start: 10rem;
    padding-inline-end: 10rem;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Bungee Inline", sans-serif;
}
header h1 { 
    margin: 0;
    padding: 0;
    font-size: 3rem;
}

/* header and navigation */
header div.containerheader {
    display: flex;
    align-items: center;
}

header h1 {
    flex-grow: 1;
}
header nav {
    flex-grow: 0;
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    margin-left: 0.75rem;
}

nav a:link,
nav a:visited,
nav a:hover,
nav a:active {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0.5rem;
    border-bottom: 2px solid transparent;
    transition-property: border-color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    display: block;
}
nav a:hover {
    border-color: rgb(0,0 ,0);
}
nav li.login a:link,
nav li.login a:visited,
nav li.login a:hover,
nav li.login a:active {
 color: blue;
 background-color: white;
 border: thin solid blue;
 border-radius: 0.5rem;
}
nav li.login a:hover {
    color: white;
    background-color: blue;
}

/* main and sections */

main div.container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

main div.container section {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
}

main section h2 {
    text-align: center;
}

section ul {
    margin-inline-start: 0rem;
    padding-inline-start: 2rem;
}

section img {
   width: 100%;
}

footer {
    margin-block-start: 3rem;
    padding-block-start: 1rem;
    margin-block-end: 2rem;
    border-block-start: 2px solid rgb(150, 150, 150);
}
a:visited { color: blue;}